.header {
  width: 310px;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .header {
    width: 440px;
  }
}
@media (min-width: 768px) {
  .header {
    width: 698px;
  }
}
.header__title {
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
  margin-top: 22px;
  margin-bottom: 21px;
}
.header__title::after {
  content: "";
  width: 119px;
  height: 2px;
  position: absolute;
  top: 17px;
  right: 0;
  background-color: #000;
}
@media (min-width: 480px) {
  .header {
    padding-top: 40px;
  }
  .header__title {
    margin-top: 2px;
    margin-bottom: 40px;
  }
  .header__title::after {
    width: 157px;
    top: 25px;
  }
}
@media (min-width: 768px) {
  .header__title::after {
    width: 418px;
    top: 25px;
  }
}
.main {
  width: 310px;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  .main {
    width: 440px;
  }
}
@media (min-width: 768px) {
  .main {
    width: 698px;
  }
}
.main__image {
  position: relative;
}
.main__full-img {
  width: 310px;
  height: 202px;
}
.main__full-text {
  font-family: 'Noto Sans', Georgia, sans-serif;
  font-size: 13px;
  line-height: 18px;
  position: absolute;
  width: 80px;
  height: 53px;
  background-color: white;
  text-align: center;
  top: 7px;
  left: 7px;
  opacity: .8;
  padding-top: 5px;
}
.main__full-text span {
  font-size: 18px;
  line-height: 24px;
}
.main__text-container {
  display: none;
}
.main__container {
  margin-top: 0;
  margin-bottom: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main__item {
  display: block;
  width: 73px;
  height: 48px;
  margin-top: 5px;
}
.main__item--no-320,
.main__item--no-480 {
  display: none;
}
.main__block {
  width: 73px;
  height: 48px;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.main__block::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 5px;
  top: 25px;
  right: 10px;
  background-image: url("../img/icon.png");
  background-repeat: no-repeat;
}
.main__block--mold {
  width: 49%;
}
.main__block--mold::after {
  width: 0;
  height: 0;
}
.main__block--mold-480,
.main__block--mold-768,
.main__block--mold-full {
  display: none;
}
.main__block--no-320 {
  display: none;
}
.main__block-text {
  font-family: 'Noto Serif', Georgia, serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  padding-top: 8px;
}
.main__block-text span {
  font-size: 18px;
  line-height: 24px;
}
@media (min-width: 480px) {
  .main__container {
    margin-bottom: 29px;
    position: relative;
  }
  .main__full-text {
    top: 9px;
    left: 11px;
  }
  .main__item {
    width: 80px;
    height: 53px;
    margin-top: 8px;
    margin-bottom: 2px;
  }
  .main__item--no-320 {
    display: block;
  }
  .main__item--no-480 {
    display: none;
  }
  .main__full-img {
    width: 440px;
    height: 286px;
  }
  .main__block {
    width: 80px;
    height: 52px;
  }
  .main__block--no-320 {
    display: block;
  }
  .main__block--mold {
    display: none;
  }
  .main__block--mold-480 {
    width: 170px;
    display: block;
  }
  .main__block--mold-small {
    display: block;
    width: 80px;
    height: 53px;
  }
}
.main__block-text {
  padding-top: 14px;
  padding-left: 2px;
}
@media (min-width: 768px) {
  .main__container {
    margin-bottom: 20px;
    margin-top: 7px;
  }
  .main__full-img {
    width: 700px;
    height: 455px;
    margin-bottom: 10px;
  }
  .main__full-text {
    font-family: 'Noto Serif', Georgia, serif;
    font-size: 18px;
    line-height: 24px;
    top: 19px;
    left: 20px;
    width: 160px;
    height: 103px;
    padding-top: 25px;
  }
  .main__full-text::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 5px;
    top: 34px;
    right: 20px;
    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
  }
  .main__full-text span {
    display: block;
    padding-bottom: 5px;
    font-size: 36px;
    line-height: 24px;
  }
  .main__text-container {
    display: block;
  }
  .main__text {
    font-family: 'Noto Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
  }
  .main__text--description {
    color: #000;
    font-weight: bold;
  }
  .main__text--copyright {
    color: #acacac;
  }
  .main__block-text {
    margin-top: 36px;
    font-size: 18px;
    line-height: 24px;
    padding-top: 0;
  }
  .main__block-text span {
    font-size: 36px;
    display: block;
    margin-bottom: 7px;
  }
  .main__item {
    display: inline-block;
    width: 160px;
    height: 104px;
    margin-bottom: 12px;
  }
  .main__item--no-480 {
    display: block;
  }
  .main__item--no-768 {
    display: none;
  }
  .main__block {
    width: 160px;
    height: 104px;
  }
  .main__block::after {
    top: 48px;
    right: 21px;
  }
  .main__block--mold-small {
    display: none;
  }
  .main__block--mold-480 {
    display: none;
  }
  .main__block--mold-no-768 {
    display: none;
  }
  .main__block--mold-768 {
    display: block;
    width: 160px;
  }
  .main__block--mold-full {
    display: block;
    width: 48%;
  }
  .main__block--mold-full::after {
    width: 0;
    height: 0;
  }
}
.teaser {
  width: 310px;
  min-height: 80px;
  background-color: #fbf6e8;
  margin-top: 10px;
  margin-bottom: 6px;
}
.teaser--480,
.teaser--768 {
  display: none;
}
.teaser__img {
  width: 107px;
  height: 80px;
  background-image: url("../img/teaser-2.jpg");
  background-repeat: no-repeat;
  background-position: -5px -50px;
}
.teaser__img:hover {
  background-image: url("../img/teaser-01.jpg");
  background-position: 0 0;
}
.teaser__link {
  display: flex;
  text-decoration: none;
}
.teaser__text-container {
  width: 210px;
  margin-top: 7px;
  margin-left: 20px;
}
.teaser__text {
  display: block;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', Arial, sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 18px;
}
.teaser__text--description {
  font-size: 10px;
  font-weight: bold;
  line-height: normal;
  color: #acacac;
}
.teaser__text--title {
  font-size: 13px;
  font-weight: bold;
}
@media (min-width: 480px) {
  .teaser {
    z-index: 2;
  }
  .teaser--320 {
    display: none;
  }
  .teaser--480 {
    display: block;
    position: absolute;
    right: 0;
    width: 160px;
    height: 220px;
    background-image: url("../img/teaser-3.jpg");
  }
  .teaser--768 {
    display: none;
  }
  .teaser__img {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .teaser {
    margin-top: 8px;
  }
  .teaser--768 {
    display: block;
    position: absolute;
    right: 0;
    bottom: 261px;
    width: 160px;
    height: 220px;
    background-image: url("../img/teaser-4.jpg");
  }
}
.footer {
  width: 310px;
  margin: 0 auto;
  padding-bottom: 21px;
}
@media (min-width: 480px) {
  .footer {
    width: 440px;
  }
}
@media (min-width: 768px) {
  .footer {
    width: 698px;
  }
}
.paginator__text {
  display: inline-block;
  margin: 0;
  padding: 8px 12px;
  color: #000;
  font-family: 'Noto Sans', Arial, sans-serif;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
}
.paginator__text--next {
  margin-left: 5px;
}
.paginator__text--title {
  display: none;
}
.paginator__text--current {
  background-color: #e6e6e6;
  border-radius: 50%;
}
@media (min-width: 480px) {
  .paginator__text {
    margin-right: 9px;
  }
  .paginator__text--next {
    margin-left: 0;
  }
  .paginator__text--title {
    color: #848484;
    display: inline-block;
    padding-left: 0;
    padding-right: 8px;
  }
}
@media (min-width: 768px) {
  .paginator__text--title {
    padding-right: 12px;
  }
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
  outline: 0;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  outline: none;
  overflow: visible;
}
button:active,
button:hover {
  outline: 0;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
}
h1 {
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 26px;
  line-height: 18px;
}
@media (min-width: 480px) {
  h1 {
    font-size: 40px;
  }
}
h2 {
  font-family: 'Noto Serif', Georgia, serif;
}
