.header {
    .container ();
}
  .header__title {
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
  margin-top: 25px;
  margin-bottom: 18px;
  &::after {
    content: "";
    width: 119px;
    height: 2px;
    position: absolute;
    top: 26px;
    right: 5px;
    background-color: @black;
  }
}
