.main {
    .container ();
    margin-bottom: 20px;
}

.main__image {
  position: relative;
}
.main__full-img {
  width: 310px;
  height: 202px;
}
.main__full-text {
  font-family: 'Noto Serif', Georgia, serif;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  width: 80px;
  height: 53px;
  background-color: white;
  text-align: center;
  top: 10px;
  left: 10px;
  opacity: .8;
  padding-top: 5px;
  span {
    font-size: 18px;
    line-height: 24px;
  }
}

.main__text-container {
  display: none;
}

.main__container {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main__item {
  display: block;
  width: 73px;
  height: 48px;
  margin-top: 5px;
  &--no-320, &--no-480 {
    display: none;
  }
}

.main__block {
  width: 73px;
  height: 48px;
  background-color: @white;
  text-align: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 5px;
    top: 22px;
    right: 10px;
    background-image: url("../img/icon.png");
    background-repeat: no-repeat;
  }
  &--mold {
    width: 49%;
    &::after {
      width: 0;
      height: 0;
    }
  }
  &--mold-480 {
    display: none;
  }
  &--no-320 {
    display: none;
  }
}

.main__block-text {
  font-family: 'Noto Serif', Georgia, serif;
  font-size: 14px;
  line-height: 18px;
  margin-top: 10px;
  span {
    font-size: 18px;
    line-height: 24px;
  }
}
@media @mobile-full-widths {
  .main__container {
    position: relative;
  }

  .main__item {
    width: 80px;
    height: 53px;
    margin-bottom: 4px;
    &--no-320 {
      display: block;
    }
  }

  .main__full-img {
    width: 440px;
    height: 286px;
  }
  .main__block {
    width: 80px;
    height: 52px;
    &--no-320 {
      display: block;
    }
    &--mold {
      display: none;
    }
  &--mold-480 {
    width: 170px;
    display: block;
  }
  &--mold-small {
    display: block;
    width: 80px;
    height: 53px;
  }
  }
}

/* @media @tablet-widths {
 .main__container {
      }
  .main__item {
    display: inline-block;
    width: 160px;
    height: 104px;
    margin-bottom: 12px;
    &--no-480 {
      display: block;
    }
    &--no-768 {
      display: none;
    }
  }
  .main__block {
    width: 160px;
    height: 104px;
    &--full {
      width: 50%;
    }
    &--mold-small {
      display: none;
    }
    &--mold-no-768 {
      display: none;
    }
  }
}*/
