
.paginator__text {
  display: inline-block;
  margin: 0;
  padding: 8px 12px;
  color: @black;
  font-family: 'Noto Sans', Arial, sans-serif;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  &--next {
    margin-left: 5px;
  }
  &--title {
    display: none;
  }
  &--current {
    background-color: @grey-bgr;
    border-radius: 50%;
  }
}

@media @mobile-full-widths {
  .paginator__text {
    margin-right: 11px;
    &--next {
      margin-left: -5px;
    }
    &--title {
      color: @grey-pgn;
      display: inline-block;
      padding-left: 0;
      padding-right: 8px;
    }
  }
}

@media @tablet-widths {
  .paginator__text {
    margin-right: 9px;
    &--title {
      padding-right: 12px;
    }
    &--next {
      margin-left: 0;
    }
  }
}
